.prefectures {
  display: flex;
  flex-wrap: wrap;
}

.prefectures li {
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 3px;
  padding: 5px 10px;
}

.prefectures li:hover {
  background-color: bisque;
}
